{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load static %}

{% block content %}

<style>
  .login_box_area .login_box_img .button:hover {
    background: #fff !important;
    color: #222 !important;
    border-color: #fff !important;
  }
</style>

<!-- ================ start banner area ================= -->	
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center breadcrumb-content">
        <h2 class="page-title">Social Login</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="{% url 'main' %}"><i class="fas fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Social Login</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="login_form_inner register_form_inner">
                  <h3>Google Login</h3>
                  <form class="row login_form" method="POST" action="{% url 'socialaccount_signup' %}" id="register_form" >
                      {% csrf_token %}
                          {{ form.as_p }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <div class="col-md-12 form-group">
                          <button type="submit" value="submit" class="button button-register w-100">{% trans "구글로그인" %}</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}
