{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load static %}

{% block content %}
<style>
	form {
		margin:0 auto;
  }
  
  .login_box_area .login_box_img .button:hover {
    background: #fff !important;
    color: #222 !important;
    border-color: #fff !important;
  }

  .btn-outline-primary {
    color: #194167;
    background-color: transparent;
    background-image: none;
    border-color: #194167;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #194167;
    border-color: #194167;
  }
</style> 
  <!-- ================ start banner area ================= -->	
  <section class="blog-banner-area" id="category">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center breadcrumb-content">
          <h2 class="page-title">Register</h2>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="{% url 'main' %}"><i class="fas fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
                            {% blocktrans %}
							<h4>이미 계정이 있으신가요?</h4>
							<p>로그인을 하신 다음 롭스픽의 엄청난 서비스를 경험해 보세요!<br>회원가입이 귀찮으신 분들을 위해 테스트 계정도 준비했답니다.</p>
                            <a class="button button-account" href="{{ login_url }}">로그인 하러 가기</a>
                            {% endblocktrans %}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner" >
						<h3>Sign Up</h3>
						<form class="row login_form" method="POST" action="{% url 'account_signup' %}" id="register_form" style="margin:0 auto; width:300px;" >
							{% csrf_token %}
								{{ form.as_p }}
							{% if redirect_field_value %}
							<input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">{% trans "Sign Up" %}</button>
							</div>
						</form>
					{% get_providers as socialaccount_providers %}

					{% if socialaccount_providers %}
					<!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
					of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
					for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->
					<div class="row socialaccount_ballot text-center pt-20" style="display:inline-block;">
						<span class="col-lg-12 socialaccount_providers">
			
							<button type="button" class="btn btn-outline-danger" onclick="location.href='/accounts/google/login/?process=login'" style="width:150px;">
								<img src="{% static 'img/google.png'%}" width=20%;>
								<span class="socialaccount_provider google signup-font">구글 로그인 </span>
								<!-- <a title ="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login"> Google 로그인</a> -->
								<!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
							</button>
						</span>
						
			
						<form class="col-lg-12 login" method="POST" action="{% url 'account_login' %}" style="display: inline;">
							{% csrf_token %}
							<input type="hidden" name="login" id="username" class="input-md round form-control" value="testuser" required id = "id_login"> 
							<input type="hidden" name="password" required_id="id_password" class="input-md round form-control" value="testuserpassword" >
							<button type="submit" class="btn btn-outline-primary" style="width:150px;">
								
								<input type="submit" style="display: none;"><span class="signup-font">테스트 계정 접속</span>
							</button>
						</form>
					</div> 
					{% endif %}
					</div>					
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


{% endblock %}