{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load static %}
{% block content %}
  
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Register</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
                            {% blocktrans %}
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a class="button button-account" href="{{ login_url }}">Login Now</a>
                            {% endblocktrans %}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Create an account</h3>
						<form class="row login_form" method="POST" action="{% url 'account_signup' %}" id="register_form" >
							{% csrf_token %}
							<div class="form-group">
                                <label for="id_email" class="control-label">
                                이메일 (선택사항)
                                </label> 
                                <input type="email" name="email" id="id_email" class="input-md round form-control" placeholder="이메일">           
                            </div>

                            <!-- Username -->
                            <div class="form-group">
                                <label for="id_username" class="control-label">
                                아이디<span class="asteriskField">*</span> 
                                </label>  
                                <input type="text" name="username" autofocus="autofocus" id="username" class="input-md round form-control" placeholder="아이디" required id="id_username">
                            </div>                   

                            <!-- Password -->
                            <div class="form-group">
                                <label for="password" class="control-label">
                                    비밀번호<span class="asteriskField">*</span> 
                                </label>    
                                <input type="password" name="password1" required id="id_password" class="input-md round form-control" placeholder="비밀번호"> 
                            </div>


                            <!-- Re-enter Password -->
                            <div class="form-group">
                                <label for="re-password" class="control-label">
                                    비밀번호 (확인) <span class="asteriskField">*</span> 
                                </label>    
                                <input type="password" name="password2" required id="id_password2" class="input-md round form-control" placeholder="비밀번호(확인)"> 
                            </div>
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">{% trans "Sign Up" %}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


{% endblock %}