certifi==2020.6.20
chardet==3.0.4
confusable-homoglyphs==3.2.0
defusedxml==0.6.0
Django==3.0.14
django-allauth==0.42.0
django-registration==3.1.1
idna==2.10
oauthlib==3.1.0
Pillow==8.1.1
python3-openid==3.2.0
pytz==2019.3
requests==2.24.0
requests-oauthlib==1.3.0
sqlparse==0.3.0
urllib3==1.25.9
