{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- 주문하기 페이지 -->
  <link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">

  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>    
      function sample6_execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var addr = ''; // 주소 변수
                  var extraAddr = ''; // 참고항목 변수

                  //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                  }

                  // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                  if(data.userSelectedType === 'R'){
                      // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                      // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                      if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                          extraAddr += data.bname;
                      }
                      // 건물명이 있고, 공동주택일 경우 추가한다.
                      if(data.buildingName !== '' && data.apartment === 'Y'){
                          extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                      }
                      // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                      if(extraAddr !== ''){
                          extraAddr = ' (' + extraAddr + ')';
                      }
                      // 조합된 참고항목을 해당 필드에 넣는다.
                      document.getElementById("sample6_extraAddress").value = extraAddr;
                  
                  } else {
                      document.getElementById("sample6_extraAddress").value = '';
                  }

                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('sample6_postcode').value = data.zonecode;
                  document.getElementById("sample6_address").value = addr;
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById("sample6_detailAddress").value = '';
                  document.getElementById("sample6_detailAddress").focus();
              }
          }).open();
      }
  </script>

  <style>
    .product-section-margin {
      margin: 98px 0 0 0;
    }

    .delivery-section-margin {
      margin: 20px 0 0 0;
    }

    .set-inline {
      display: inline!important;
    }

    .cart_inner .table tbody tr td .product_count input {
      width: 70px;
      padding-left: 30px;
    }
  </style>

  <!-- ================ start banner area ================= -->	
  <section class="blog-banner-area" id="category">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center breadcrumb-content" style="margin-top: 0;">
          <h2 class="page-title">New Order</h2>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="{% url 'main' %}"><i class="fas fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">New Order</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->


  <!--================ Share Area =================-->
  <section class="checkout_area section-margin--small product-section-margin">
      <div class="container">
          <div class="billing_details">
              <div class="row">
                  <div class="col-lg-12">
                      <h3>Collection Information</h3>
                          <div class="col-md-12 form-group">
                              <input type="text" class="form-control" id="zip" name="collection_name" value="{{ collection_name }}" readonly>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Share Area =================-->

    <!--================Cart Area =================-->
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table text-nowrap">
                      <thead>
                          <tr>
                              <th scope="col" style="font-family:'LotteMartHappy';">Product</th>
                              <th scope="col" style="font-family:'LotteMartHappy';">Price</th>
                              <th scope="col" style="font-family:'LotteMartHappy';">Quantity</th>
                              <th scope="col" style="font-family:'LotteMartHappy';">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for p in collection_products %}
                              <tr>
                                  <td>
                                      <div class="media">
                                          <div class="d-flex">
                                              <img src="{{ p.product.image.url }}" alt="" width="100">
                                          </div>
                                          <div class="media-body">
                                              <p>[{{ p.product.brand }}] {{ p.product.name }}</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <h5 style="font-family:'LotteMartHappy';"> {{ p.product.price | intcomma }}원</h5>
                                  </td>
                                  <td>
                                      <div class="product_count">
                                          <input type="text" name="qty" id="sst" maxlength="12" value="{{ p.quantity }}" title="Quantity:" class="input-text qty" readonly>
                                      </div>
                                  </td>
                                  <td>
                                      <h5 style="font-family:'LotteMartHappy';">{{ p.sub_total | intcomma }}원</h5>
                                  </td>
                              </tr>
                          {% endfor %}
                          <!-- TODO: coupon -->
                          <!-- <tr class="bottom_button">
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="cupon_text d-flex align-items-center">
                                      <input type="text" placeholder="쿠폰 코드 입력...">
                                      <a class="primary-btn" href="#">적용하기</a>
                                      <a class="button" href="#">Have a Coupon?</a>
                                  </div>
                              </td>
                          </tr> -->
                          <tr>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5 style="font-family:'LotteMartHappy';">총 상품금액</h5>
                              </td>
                              <td>
                                  <h5 style="font-family:'LotteMartHappy';">{{ product_total_price | intcomma }}원</h5>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>

  <!--================End Cart Area =================-->

  <!-- ================ Checkout Area ================= -->
  <section class="checkout_area section-margin--small delivery-section-margin">
    <div class="container">
      <form class="row contact_form" action="{% url 'orders:create' %}" method="POST">
        <div class="col-lg-12 billing_details">
            <div class="row mb-5">
                <div class="col-lg-8">
                        {% csrf_token %}
                        <input type="hidden" name="collection_id" value="{{ collection_id }}">
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Delivery Details</h3>
                                <div class="form-group">
                                    <label>수령인</label>
                                    <input type="text" class="form-control" name="recipient_name" placeholder="수령인 이름을 입력해주세요." required>
                                </div>
                                <div class="form-group">
                                    <label>연락처</label>
                                    <input type="text" class="form-control phone" name="phone" maxlength="13" value="{{ user.profile.phone }}" placeholder="연락처를 입력해주세요." required>
                                </div>
                                <!-- 주소 -->
                                <label>주소</label>
                                <div class="form-group">
                                  <input type="text" class="form-control col-md-8 set-inline" name="a" id="sample6_postcode" value="{{ user.profile.zipcode }}" placeholder="우편번호가 들어가는 자리입니다." readonly>
                                  <input type="button" class="col-md-3 set-inline mb-2" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                  <input type="text" class="form-control mb-2" name ="b" id="sample6_address" value="{{ user.profile.address1 }}" placeholder="주소가 들어가는 자리입니다." readonly>
                                  <input type="text" class="form-control col-md-8 set-inline" name="c" id="sample6_detailAddress" value="{{ user.profile.detail_address }}" placeholder="상세주소를 입력해주세요." required>
                                  <input type="text" class="form-control col-md-3 set-inline" name="d" id="sample6_extraAddress" value="{{ user.profile.address2 }}" readonly>
                                </div>
                                <input type="checkbox" id="f-option3" name="checkbox" value="1">
                                <label for="f-option3">회원정보에 해당 주소를 저장합니다.</label><br>
                                <label>배송 주기</label>
                                {% if collection_period %}
                                    <div class="mb-2">
                                        <input type="text" class="form-control" name="period" value={{ collection_period }} readonly>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                      <select class="form-control" name="period-select">
                                          <option value="1W">1주</option>
                                          <option value="2W">2주</option>
                                          <option value="3W">3주</option>
                                          <option value="1M">1달</option>
                                          <option value="2M">2달</option>
                                          <option value="3M">3달</option>
                                      </select>
                                    </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="mt-3">
                              <label>배송 요청사항</label>
                              <textarea class="form-control" name="message" id="message" rows="1" placeholder="배송 요청사항을 작성해 주세요."></textarea>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="order_box">
                          <h2>Payment Information</h2>
                          <ul class="list list_2">
                            <li><a>총 상품금액 <span>{{ product_total_price | intcomma }}원</span></a></li>
                            <!-- 2만원 이상 구매 시 무료배송 -->
                            <li><a>배송비 <span>{{ delivery_price | intcomma }}원</span></a></li>
                            <li><a>상품할인금액 <span>0원</span></a></li>
                            <li><a>결제 예정 금액<span>{{ final_price | intcomma }}원</span></a></li>
                          </ul>
                          <div class="creat_account">
                            <!-- <input type="checkbox" id="f-option4" name="selector"> -->
                            <small>위 내용을 확인하였으며 결제에 동의합니다.</small>
                          </div>
                          <div class="text-center">
                            <input type="hidden" name="final_price" value="{{ final_price }}">
                            <input type="submit" class="button button-paypal" value="결제하기">
                          </div>
                        </div>
                      </div>
                      
                    </div>
          </div>
      </form>
    </div>
  </section>
  <!-- ================End Checkout Area ================= -->

  <script>
  $('.phone').keydown(function(event) {
    var key = event.charCode || event.keyCode || 0;
    $text = $(this);
    if (key !== 8 && key !== 9) {
      if ($text.val().length === 3) {
        $text.val($text.val() + '-');
      }
      if ($text.val().length === 8) {
        $text.val($text.val() + '-');
      }
    }
 
    return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));          
  });
  </script>

{% endblock %}
