{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/accordion.css' %}">

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>My LOHB'S Pick</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">My LOHB'S Pick</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <!-- Section -->
  <section class="cart_area">
    <div class="container">
        
        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2" style="margin:0 auto;">
                
                <!-- Accordion -->
                <dl class="accordion">
                    
                    {% for pick in picks %}
                        <dt>
                            <a class="pb-0" href="#">
                            <p class="mb-0">
                            <h6>{{ pick.name }}</h6>
                            <p class="mb-0 mr-4" align="right"> 배송주기: {{ pick.get_period_display }}</p>
                            <p class="mr-4 mb-1" align="right"> 합계: {{ pick.collection_total | intcomma }}원</p>
                            <p class="mr-4" align="right">
                              <button class="m-0 btn btn-mod btn-small btn-circle" onclick="location.href='{% url 'orders:new' pick.id %}'">주문</button>
                              <button class="m-0 btn btn-mod btn-small btn-circle" onclick="location.href='{% url 'picks:share_new' pick.id %}'">공유</button>
                              <button class="m-0 btn btn-mod btn-small btn-circle" style="border-right-width: 0px" onclick="location.href='{% url 'picks:collection_update' pick.id %}'">수정</button>
                              <button class="m-0 btn btn-mod btn-small btn-circle" style="border-right-width: 0px" onclick="location.href='{% url 'picks:delete' pick.id %}'">삭제</button>
                            </p>
                            </p>
                            </a>
                        </dt>
                        {% if pick.collection_products.exists %}
                            <dd class="px-0 py-0" style="border: 1px solid #ddd;">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for collection_product in pick.collection_products.all %}
                                                <tr>
                                                    <td>
                                                        <div class="media">
                                                            <div class="d-flex">
                                                                <img src="{{ collection_product.product.image.url }}" width="100px" height="100px" alt="">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                    <strong>{{ collection_product.product.brand }}</strong><br>
                                                    {{ collection_product.product.name }}
                                                    </td>
                                                    <td>
                                                    {{ collection_product.product.price | intcomma }}원
                                                    </td>
                                                    <td>
                                                    <div class="product_count">
                                                        {{ collection_product.quantity }}개
                                                    </div>
                                                    </td>
                                                    <td>
                                                    <!-- <a href="{% url 'picks:delete_cp' collection_product.id  pick.id %}"><i class="fas fa-trash-alt" style="font-size:20px;"></i></a> -->
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </dd>
                        {% endif %}
                    {% endfor %}

                </dl>
                <!-- End Accordion -->
                
            </div>
        </div>
        
    </div>
</section>
                      
<!-- End Section -->

<script src="{% static 'js/accordion.js' %}"></script>

<script>
    var tmp = "{{ message }}";
    if (tmp) {
        alert("해당 이름을 가진 롭스픽이 존재합니다.\n롭스픽 이름은 중복될 수 없습니다.");
    }
</script>

{% endblock %}

<!-- Button trigger modal -->

