{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- 공유된 롭스픽 메인 페이지(목록) -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/pick-shared.css' %}"> <!-- 수정한 CSS -->
    <link rel="stylesheet" href="{% static 'css/rhythm/style-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/vertical-rhythm.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">

    <style>
      .button-shared-main {
        display: inline-block;
        border: 1px solid #ff530f !important;
        background-color: #ff530f;
        border-radius: 0;
        color: #fff;
        font-weight: 500;
        padding: 3px 10px;
        transition: all .4s ease;
      }

      .btn-primary {
        color: #fff;
        background-color: #ff530f;
        border-color: #ff530f;
      }

      .btn-primary:hover {
        color: #fff;
        background-color: #ff530f;
        border-color: #ff530f;
      }
    </style>
    <!-- End CSS -->

    <!-- ================ start banner area ================= -->	
    <section class="blog-banner-area" id="category">
      <div class="container h-100">
        <div class="blog-banner">
          <div class="text-center breadcrumb-content" style="margin-top: 0;">
            <h2 class="page-title">Shared LOHB'S Pick</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'main' %}"><i class="fas fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shared LOHB'S Pick</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- Section -->
    <section class="section-margin calc-60px">
        <div class="container relative">            
            <div class="row multi-columns-row">

                {% for post in posts %}
                    <!-- Post Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-60 mb-xs-40">
                        <div class="post-prev-img">
                            <a href="{{ post.image.url }}" class="image-popup-vertical-fit"><img src="{{ post.image.url }}" alt="" /></a>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            <span>{{ post.collection_name }}</span>
                        </div>
                        
                        <div class="post-prev-info font-alt">
                            <span>{{ post.user.username|slice:":4" }}****</span> | {{ post.created_at|date:"Y.m.d"}}
                            <p>{{ post.collection_products }}</p>
                        </div>
                        {% if post.content|length > 100 %}
                            <div class="post-prev-text">
                                {{ post.content|slice:":100" }}
                                <span id="dots">...</span>
                                <span id="more">{{ post.content|slice:"100:" }}</span>
                            </div>
                            
                            <div class="post-prev-more">
                                <button class="btn btn-mod btn-gray btn-round" id="readMoreBtn" onclick="readMore()">Read More <i class="fa fa-angle-right"></i></button>
                            </div>
                        {% else %}
                            <div class="post-prev-text">
                              {{ post.content }}
                            </div>
                        {% endif %}

                        <!-- 수정, 삭제버튼 -->
                        {% if user == post.user %}
                            <div class="text-right">
                                <a href="{% url 'picks:share_edit' post.id %}" class="button button--active button-shared-main">수정</a>
                                <button class="button button--active button-shared-main" data-id="{{ post.id }}" data-toggle="modal" data-target="#deleteModal" id="deletePostBtn">삭제</button>
                            </div>
                        {% endif %}
                    </div>
                    <!-- End Post Item -->
                {% endfor %}
            </div>
                  
            <!-- TODO: Pagination -->
            {% if posts.has_other_pages %}
            <div class="pagination">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                {% else %}
                    <a href=""><i class="fa fa-angle-left"></i></a>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                    {% if products.number == i %}
                        <a href="" class="active">{{ i }}</a>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                {% else %}
                    <a href=""><i class="fa fa-angle-right"></i></a>
                {% endif %}
            </div>
          {% endif %}
          <!-- End Pagination -->

        </div>
    </section>
    <!-- End Section -->


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">글 삭제</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            정말로 삭제하시겠습니까? 삭제된 글은 복구할 수 없습니다.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <a href="#" class="btn btn-primary" id="delete-btn">삭제하기</a>
          </div>
        </div>
      </div>
    </div>
    
    <script src="{% static 'js/share.js' %}"></script>

    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
      $('.image-popup-vertical-fit').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        mainClass: 'mfp-img-mobile',
        showCloseBtn: true,
        enableEscapeKey: true,
        image: {
          verticalFit: true
        }
        
      });
      
      // Read More
      function readMore() {
        var dots = document.getElementById('dots');
        var moreText = document.getElementById('more');
        var btnText = document.getElementById('readMoreBtn');

        if (dots.style.display === 'none') {
          dots.style.display = 'inline';
          btnText.innerHTML = 'Read More  <i class="fa fa-angle-right">';
          moreText.style.display = "none";
        } else {
          dots.style.display = 'none';
          btnText.innerHTML = 'Read less';
          moreText.style.display = 'inline';
        }
      }

      // Delete Modal
      $(document).on("click", "#deletePostBtn", function () {
        var postId = $(this).data('id');
        $("#delete-btn").attr("href", `/picks/${postId}/delete`);
      });
    </script>
    <!-- end magnific-popup -->
{% endblock %}
