{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- 공유된 롭스픽 메인 페이지(목록) -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/pick-shared.css' %}"> <!-- 수정한 CSS -->
    <link rel="stylesheet" href="{% static 'css/rhythm/style-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/vertical-rhythm.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rhythm/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- End CSS -->

    <!-- ================ start banner area ================= -->	
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shared Lohb's Pick</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shared</li>
                    </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- Section -->
    <section class="section-margin calc-60px">
        <div class="container relative">            
            <div class="row multi-columns-row">

                {% for post in posts %}
                    <!-- Post Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-60 mb-xs-40">
                        <div class="post-prev-img">
                            <a href="{{ post.image.url }}" class="image-popup-vertical-fit"><img src="{{ post.image.url }}" alt="" /></a>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            <a href="">{{ post.collection_name }}</a>
                        </div>
                        
                        <div class="post-prev-info font-alt">
                            <span href="">{{ post.user.username|slice:":4" }}****</span> | {{ post.created_at|date:"Y.m.d"}}
                        </div>
                        {% if post.content|length > 100 %}
                            <div class="post-prev-text">
                                {{ post.content|slice:":100" }}
                                <span id="dots">...</span>
                                <span id="more">{{ post.content|slice:"100:" }}</span>
                            </div>
                            
                            <div class="post-prev-more">
                                <button class="btn btn-mod btn-gray btn-round" id="readMoreBtn" onclick="readMore()">Read More <i class="fa fa-angle-right"></i></button>
                            </div>
                        {% else %}
                            <div class="post-prev-text">
                              {{ post.content }}
                            </div>
                        {% endif %}
                    </div>
                    <!-- End Post Item -->
                {% endfor %}
            </div>
                  
            <!-- TODO: Pagination -->
            <div class="pagination">
                <a href=""><i class="fa fa-angle-left"></i></a>
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a class="no-active">...</a>
                <a href="">9</a>
                <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- End Pagination -->

        </div>
    </section>
    <!-- End Section -->
    
    <script src="{% static 'js/pick-shared.js' %}"></script>

    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
      $('.image-popup-vertical-fit').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        mainClass: 'mfp-img-mobile',
        showCloseBtn: true,
        enableEscapeKey: true,
        image: {
          verticalFit: true
        }
        
      });
    </script>
    <!-- end magnific-popup -->
{% endblock %}
