{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Edit</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
					<div class="row">
						<div class="review_box">
							<h4>회원정보 수정</h4>
							<form class="row contact_form" action="{% url 'users:update' user.pk %}" method="POST" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
								{% csrf_token %}
								<div class="col-lg-6">
									<div class="user-name">
										<h4>프로필사진 수정</h4>
									</div>
									<input type="file" name="profile_image" accept="image/*" style="margin:0 auto;">
									<label class="mt-10">기본 이미지로 변경하기</label>
									<input type="checkbox" name="checkbox" value="1">
								</div>
								<div class="col-lg-6">
									<div class="col-md-12">
                                        <label>닉네임</label>
										<div class="form-group">
											<input type="text" class="form-control" name="nickname" value="{{ user.prifile.nickname }}">
										</div>
									</div>
									<div class="col-md-12">
                                        <label>연락처</label>
										<div class="form-group">
											<input type="test" class="form-control" name="phone" value="{{ user.profile.phone }}">
										</div>
									</div>
									<div class="col-md-12">
                                        <label>주소</label>
										<div class="form-group">
											<input type="test" class="form-control" name="profile_address" value="{{ user.profile.profile_address }}">
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="수정" class="btn primary-btn">수정</button>
									</div>
								</div>
							</form>
						</div>
			        </div>
		</div>
	</section>

{% endblock %}
	<!--================End Product Description Area =================-->