{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Mypage</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mypage</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ user_profile.profile.profile_image.url }}" alt="">
						</div>
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1" style="padding-bottom: 50px;">
          <table class="table table-borderless">
            <tr>
              <th><span>ID</span></th>
              <td><span>{{ user_profile.username }}</span></td>
            </tr>
            <tr>
              <th><span>Nickname</span></th>
              <td><span>{{ user_profile.profile.nickname }}</span></td>
            </tr>
            <tr>
              <th><span>Phone</span></th>
              <td><span>{{ user_profile.profile.phone }}</span></td>
            </tr>
            <tr>
              <th><span>Address</span></th>
              <td><span>{{ user_profile.profile.profile_address }}</span></td>
            </tr>
          </table>
          {% if user.username == user_profile.username %}
            <div class="product_count">
              <a class="button primary-btn" href="{% url 'users:edit' user_profile.id %}">회원정보 수정</a>
            </div>
          {% endif %}
				</div>
			</div>
		</div>
	</div>
  <!--================End Single Product Area =================-->

{% endblock %}
