{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
  .hero-carousel__slide:hover::after{
    transform: none;
    opacity: 0;
  }
</style>
  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static 'img/bbb.png' %}" width="100%" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>LOHB's Pick</h4>
              <h1>나만의 롭스픽을<br>만들어보세요!</h1>
              <p>롭스의 다양한 브랜드 제품을 활용해 여러분의 롭스픽을 만들어주세요! <br>롭스픽은 정하신 주기마다 정기배송이 이루어집니다.</p>
              <a class="button button-hero" href="{% url 'picks:shared' %}">LOHB's Pick 보러가기</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    <section class="section-margin mt-0">
      <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel__slide">
          <img src="{% static 'img/banner1.jpg' %}" alt="" style="border-radius: 8px;">
        </div>
        <div class="hero-carousel__slide">
          <img src="{% static 'img/banner_ours.png' %}" alt="" class="img-fluid" style="border-radius: 8px;">
        </div>
        <div class="hero-carousel__slide">
          <img src="{% static 'img/banner3.jpg' %}" alt="" class="img-fluid" style="border-radius: 8px;">
        </div>
      </div>
    </section>
    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>LOHB's Pick</p>
          <h2>LOHB's<span class="section-intro__style">&nbsp;Best Seller</span></h2>
        </div>
        <div class="row">
          {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="{{ product.image.url }}" alt="">
                </div>
                <div class="card-body">
                  <p>{{ product.brand }}</p>
                  <h4 class="card-product__title">{{ product.name }}</h4>
                  <p class="card-product__price">{{ product.price | intcomma }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>LOHB's Pick</h3>
              <h4>내가 원하는 상품을 픽! 하세요!!</h4>
              <p>롭스픽롭스픽미픽미</p>
              <a class="button button--active mt-3 mt-xl-4" href="{% url 'products:main' %}">상품 보러가기</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Blog section start ================= -->  
    <section class="blog pb-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p style="margin-top:50px;">LOHB's Pick 공유하기</p>
          <h2>What's in your<span class="section-intro__style">&nbsp;LOHB's Pick?</span></h2>
        </div>

        <div class="row">
          {% for share in shared_lists %}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
              <div class="card card-blog">
                <div class="card-blog__img">
                  <img class="card-img rounded-0" src="{{ share.image.url }}" width="100%" height="100%"alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-blog__title"><a href="single-blog.html">{{ share.collection_name }}</a></h4>
                  <span>{{ share.user.username|slice:":4" }}****</span> | {{ share.created_at|date:"Y.m.d"}}
                  <p>{{ share.content|slice:":30" }}...</p>
                  <a class="card-blog__link" href="{% url 'picks:shared' %}">Read More <i class="ti-arrow-right"></i></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- ================ Blog section end ================= -->
  </main>

{% endblock %}
