{% load static %}

<style>
    .developers-name {
        color: #7b838a;
        font-family: "Roboto",sans-serif;
    }

    .developers-name:hover {
        color: #ff530f;
    }

    .footer-bottom .footer-text a {
      color: #fff;
      opacity: 1;
    }
</style>

<!--================ Start footer Area  =================-->	
<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title" style="font-family:'LotteMartHappy';">Our Services</h4>
                        <p>
                          여러분이 사용하고 있는 화장품, 매번 드럭스토어나 로드샵을 방문하기 귀찮지 않으신가요?
                        </p>
                        <p>
                          롭스의 다양한 브랜드 제품을 활용해 여러분의 롭스픽을 만들어보세요! 원하는 주기마다 여러분이 담아둔 컬렉션을 정기배송 받을 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title" style="font-family:'LotteMartHappy';">Quick Links</h4>
                        <ul class="list" >
                            <li ><a href="{% url 'main' %}">Home</a></li>
                            <li><a href="{% url 'products:main' %}">Shop</a></li>
                            <li><a href="{% url 'orders:main' %}">Orders</a></li>
                            <li><a href="{% url 'picks:lohbs_pick' %}">LOHB'S Pick</a></li>
                            <li><a href="{% url 'picks:shared' %}">Shared</a></li>
                            <li>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'users:main' user.id %}">Mypage</a>
                                {% else %}
                                    <a href="{% url 'account_login' %}">Mypage</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title" style="font-family:'LotteMartHappy';">Developers</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li>
                                <a href="https://github.com/ygk313" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/yeonjin.jpg' %}" width="100" height="100" alt="yeonjin">
                                    <p class="pt-2 text-center" style="font-family:'LotteMartHappy';">김연진</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/khj6165" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/hyojeong.jpg' %}" width="100" height="100" alt="hyojeong">
                                    <p class="pt-2 text-center" style="font-family:'LotteMartHappy';">김효정</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/JuYeong0413" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/juyeong.png' %}" width="100" height="100" alt="juyeong">
                                    <p class="pt-2 text-center" style="font-family:'LotteMartHappy';">이주영</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">Copyright &copy; LOHB'S Pick 2020 All rights reserved &nbsp; | &nbsp; <a href="{% url 'service_terms' %}">이용약관</a>&nbsp; <a href="{% url 'personal_data' %}">개인정보처리방침</a></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
