{% load static %}

<style>
    .developers-name {
        color: #7b838a;
        font-family: "Roboto",sans-serif;
    }

    .developers-name:hover {
        color: #384aeb;
    }
</style>

<!--================ Start footer Area  =================-->	
<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Our Services</h4>
                        <p>
                          여러분이 사용하고 있는 화장품, 매번 드럭스토어나 로드샵을 방문하기 귀찮지 않으신가요?
                        </p>
                        <p>
                          롭스의 다양한 브랜드 제품을 활용해 여러분의 롭스픽을 만들어보세요! 원하는 주기마다 여러분이 담아둔 컬렉션을 정기배송 받을 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="{% url 'main' %}">Home</a></li>
                            <li><a href="{% url 'products:main' %}">Shop</a></li>
                            <li><a href="{% url 'orders:main' %}">Orders</a></li>
                            <li><a href="{% url 'picks:lohbs_pick' %}">Lohb's Pick</a></li>
                            <li><a href="{% url 'picks:shared' %}">Shared</a></li>
                            <li>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'users:main' user.id %}">Mypage</a>
                                {% else %}
                                    <a href="{{ login_url }}">Mypage</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Developers</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li>
                                <a href="https://github.com/ygk13" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/yeonjin.jpg' %}" width="100" height="100" alt="yeonjin">
                                    <p class="pt-2 text-center">김연진</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/khj6165" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/hyojeong.jpg' %}" width="100" height="100" alt="hyojeong">
                                    <p class="pt-2 text-center">김효정</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/JuYeong0413" target="_blank" class="developers-name">
                                    <img src="{% static 'img/footer/juyeong.png' %}" width="100" height="100" alt="juyeong">
                                    <p class="pt-2 text-center">이주영</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; RECORD 2020 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
