 {% load static %}
 
 <!--================ Start Header Menu Area =================-->
 <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'products:main' %}">Products</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lohbs' pick</a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'picks:lohbs_pick' %}">My pick</a></li>
                  {% endif %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'picks:shared' %}">Shared</a></li>
                </ul>
			        </li>
              {% if user.is_authenticated %}
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mypage</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:main' user.id %}">My info</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:schedule' user.id %}">Schedule</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'orders:main' %}">Orders</a></li>
              {% endif %}
            </ul>

            <ul class="nav-shop">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i> Sign up</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
    <!--================ End Header Menu Area =================-->
