{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- ================ start banner area ================= -->	
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Shop Category</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          
          <div class="sidebar-filter mt-0">
            <div class="top-filter-head"><a href="{% url 'products:main' %}" style="color:white;font-family:'LotteMartHappy;'">ALL Products</a></div>
              <ul class="main-categories">
                <li class="common-filter" style="padding-top:25px;">
                  <form action="{% url 'products:category_list' %}">
                    <ul>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="skincare" name="category" value="0" onclick="this.form.submit()"><label for="skincare">스킨케어<span> ({{ category_no.0 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="makeup" name="category" value="1" onclick="this.form.submit()"><label for="makeup">메이크업 <span> ({{ category_no.1 }})</span></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="haircare" name="category" value="2" onclick="this.form.submit()"><label for="haircare">헤어케어 <span> ({{ category_no.2 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="bodycare" name="category" value="3" onclick="this.form.submit()"><label for="bodycare">바디케어 <span> ({{ category_no.3 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="perfume" name="category" value="4" onclick="this.form.submit()"><label for="perfume">향수/방향 <span> ({{ category_no.4 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="living" name="category" value="5" onclick="this.form.submit()"><label for="living">리빙/잡화 <span> ({{ category_no.5 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="mencare" name="category" value="6" onclick="this.form.submit()"><label for="mencare">맨케어 <span> ({{ category_no.6 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="health" name="category" value="7" onclick="this.form.submit()"><label for="helath">헬스 <span> ({{ category_no.7 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="food" name="category" value="8" onclick="this.form.submit()"><label for="food">푸드 <span> ({{ category_no.8 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="babycare" name="category" value="9" onclick="this.form.submit()"><label for="babycare">베이비케어 <span> ({{ category_no.9 }})</span></label></li>
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="petcare" name="category" value="10" onclick="this.form.submit()"><label for="petcare">펫케어 <span> ({{ category_no.10 }})</span></label></li>
                    </ul>
                  </form>
                </li>
              </ul>
          </div>
       
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting mr-auto">
              <select id="sort-select" onchange="location = this.value;">
                {% if "/?sort=lowPrice" in request.get_full_path %}
                  <option class="sort-popluar" value="?sort=popluar">인기순</option>
                  <option class="sort-lowprice" value="?sort=lowPrice" selected>낮은 가격순</option>
                  <option class="sort-highprice" value="?sort=highPrice">높은 가격순</option>
                {% elif "/?sort=highPrice" in request.get_full_path %}
                  <option class="sort-popluar" value="?sort=popluar">인기순</option>
                  <option class="sort-lowprice" value="?sort=lowPrice">낮은 가격순</option>
                  <option class="sort-highprice" value="?sort=highPrice" selected>높은 가격순</option>
                {% else %}
                   <option class="sort-popluar" value="?sort=popluar" selected>인기순</option>
                  <option class="sort-lowprice" value="?sort=lowPrice">낮은 가격순</option>
                  <option class="sort-highprice" value="?sort=highPrice">높은 가격순</option>
                {% endif %}
              </select>
            </div>
            <div>
              <form action="{% url 'products:search' %}">
                <div class="input-group filter-bar-search">
                    <input type="text" placeholder="Search" name="query">
                    <div class="input-group-append">
                      <button type="submit"><i class="ti-search"></i></button>
                    </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End Filter Bar -->
          
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              {% for product in products %}
                <div class="col-md-6 col-lg-4">
                  <div class="card text-center card-product">
                    <div class="card-product__img">
                      <img class="card-img" src="{{ product.image.url }}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                              <button id="btnid" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter0 }}">
                                <i class="fas fa-plus"></i>
                              </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                      <p>{{ product.brand }}</p>
                      <h6 class="card-product__title">{{ product.name }}</h6>
                      <p class="card-product__price" style="display: inline;">{{ product.price | intcomma }}</p>
                      <p style="display:inline; font-size:14px;">원</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
  <!-- ================ category section end ================= -->		  
  
  {% for product in products %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">롭스픽 선택하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{% url 'picks:create_cp' product.id %}" method="POST">
              <div class="modal-body">
                {% csrf_token %}
                <div class="mb-2 container">
                  <label>수량:&nbsp;</label>
                  <div class="product_count">
                    <input type="text" name="quantity" id="sst{{ forloop.counter0 }}" maxlength="12" value="1" title="Quantity:" class="input-text qty" style="width:50px;height:30px;">
                    <button onclick="var result = document.getElementById('sst{{ forloop.counter0 }}'); var sst{{ forloop.counter0 }} = result.value; if( !isNaN( sst{{ forloop.counter0 }} )) result.value++;return false;" class="increase items-count" type="button"><i class="fas fa-chevron-up"></i></button>
                    <button onclick="var result = document.getElementById('sst{{ forloop.counter0 }}'); var sst{{ forloop.counter0 }} = result.value; if( !isNaN( sst{{ forloop.counter0 }} ) &amp;&amp; sst{{ forloop.counter0 }} > 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fas fa-chevron-down"></i></button>
                  </div>
                </div>
                <div class="container">
                  <label><strong><컬렉션 목록></strong></label>
                  <br>
                  <!-- <input class="pixel-radio" type="radio" name="new"> 새 컬렉션 만들기 -->
                  {% for pick in lists %}
                    <input class="pixel-radio" type="radio" name="pick" value="{{pick.id}}" style="margin-right:5px;">{{pick.name}}<br>
                  {% endfor %}
                    <input class="pixel-radio" type="radio" name="pick" style="margin-right:5px;" value="new">새로운 컬렉션 생성:&nbsp; <input type="text" name="collection_name">
                </div>
              </div>
            <div class="modal-footer">
              <button type="submit" class="button button--active button-review">저장</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}